@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;

}

header {
    background-color: black;
    display: grid;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    grid-area: banner;
}

.img__bnr {

    width: 95%;
    height: auto;
}

nav ul {
    background-color: black;
    display: flex;
    justify-content: center
}

li {
    font-size: 150%;
    list-style: none;
    text-transform: uppercase;
    margin: 10px;


}

a {

    color: white;
    text-decoration: none;
}


.sec__index {
    display: flex;
    width: 70%;
    max-width: 360px;
    margin: 0 auto;
    justify-content: center;
}

.img__idx {
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 10%;

}

.titulos {
    font-size: 200%;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    background-color: rgb(239, 241, 86);
}

.secciones__index {
    font-size: 200%;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}

footer {
    letter-spacing: 5px;
    color: black;
    font-size: 100%;
    background-color: rgb(239, 241, 86);
    text-align: center;
    padding: 5em;
    margin-bottom: 0;
    margin-top: 2rem;
    grid-area: footer;
}

.titulos {
    grid-area: titulo;
}

header {
    grid-area: banner;
}

nav {
    grid-area: nav;
}

.titulos {
    grid-area: titulo;
}

.sec1 {
    grid-area: sec1;
}

.sec2 {
    grid-area: sec2;
}

.sec3 {
    grid-area: sec3;
}

.sec4 {
    grid-area: sec4;
}

footer {
    grid-area: footer;
}

.section__index {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "sec1"
        "sec2"
        "sec3"
        "sec4"
        "footer";

}

/* Sección productos*/

.div__prod {
    background-color: rgb(53, 49, 49);
    display: flex;
    width: 70%;
    max-width: 360px;
    margin: 5px auto;
    flex-direction: column;
    border: 5px solid rgb(225, 226, 126);

}

.img__prod {
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 5%;

}

.name__prod {
    font-size: 200%;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}

.precios {
    font-size: 200%;
    color: black;
    text-align: end;
    margin: 10px;
}

.div__prod1 {
    grid-area: div__prod1;
}

.div__prod2 {
    grid-area: div__prod2;
}

.div__prod3 {
    grid-area: div__prod3;
}

.div__prod4 {
    grid-area: div__prod4;
}

.section__productos {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "div__prod1"
        "div__prod2"
        "div__prod3"
        "div__prod4"
        "footer";

}

/*Seccion Recetas*/
.art__r {
    color: white;
    letter-spacing: 1px;
    display: flex;
    width: 90%;
    max-width: 90%;
    margin: 5px auto;
    flex-direction: column;
    border: 5px solid rgb(225, 226, 126);
    align-items: center;

}

.img__r {

    width: 40%;
    max-width: 50%;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 5%;

}

.tit__art {
    font-size: 200%;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}

.li__r {
    font-size: 100%;
}

.p__rec {
    text-align: center;
    margin: 5px;
}

.rec1 {
    grid-area: rec1;
}

.rec2 {
    grid-area: rec2;
}

.rec3 {
    grid-area: rec3;
}

.rec4 {
    grid-area: rec4;
}

.section__recetas {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "rec1"
        "rec2"
        "rec3"
        "rec4"
        "footer";

}

/* Seccion Nosotros*/

.art__nos{
    display: flex;
    
    flex-direction: column;
    border: 5px solid rgb(225, 226, 126);
    align-items: center;
}
.div__n{
    align-items: center;
    width: 70%;
    max-width: 360px;
    margin: 5px auto;
    color: white;
    font-size: 200%;
    text-align: center;
}
.img__n{
    width: 70%;
    max-width: 70%;
    height: auto;
    
    padding-top: 5%;
    padding-bottom: 5%;
}
.nos1{
    grid-area: nos1;
}
.nos2{
    grid-area: nos2;
}
.section__nosotros{
    display: grid;
    gap: 30px;
    grid-template-areas:
    "banner"
    "nav"
    "titulo"
    "nos1"
    "nos2"
    "footer";
}
/*Seccion contacto*/
.tit__form{
  font-size: 200%;
    letter-spacing: 8px;
   
}
.sec__form{
    padding: 30px;
    text-align: center;
    color: white;
    grid-area: form;
}
.section__contacto{
    display: grid;
    gap:30px;
    grid-template-areas: 
    "banner"
    "nav"
    "titulo"
    "form"
    "footer"
}



@media screen and (min-width:481px) {
    .section__index {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "banner     banner"
            "nav        nav"
            "titulo     titulo"
            "sec1       sec2"
            "sec3       sec4"
            "footer     footer"
        ;
    }

    .secciones__index {
        font-size: 150%;
        letter-spacing: 2px;
    }

    .section__productos {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "banner     banner"
            "nav        nav"
            "titulo     titulo"
            "div__prod1 div__prod2"
            "div__prod3 div__prod4"
            "footer     footer";
    }

    .name__prod {
        font-size: 150%;
        letter-spacing: 2px;
    }

    .precios {
        font-size: 150%;
        letter-spacing: 2px;
    }

    .p__rec{
        
        font-size: 150%
        ;
}
.li__r{
    font-size: 150%;
    letter-spacing: 6%;
}
.section__nosotros{
    display: grid;
    gap: 30px;
    grid-template-areas:
    "banner"
    "nav"
    "titulo"
    "nos1"
    "nos2"
    "footer";
}

.art__nos{
    flex-direction: row;
} 

}


@media screen and (min-width:1024px) {

    .section__index {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "banner     nav"
            "titulo     titulo"
            "sec1       sec2"
            "sec3       sec4"
            "footer     footer"
        ;
    }

    body {
        background-color: white;
    }


    .titulos {
        font-size: 300%;
    }

    nav ul {

        justify-content: flex-end;

    }

    .secciones__index {
        font-size: 300%;
        letter-spacing: 5px;
        color: black;
    }

    .section__productos {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "banner     nav"
            "titulo     titulo"
            "div__prod1 div__prod2"
            "div__prod3 div__prod4"
            "footer     footer";
    }

    .div__prod {

        background-color: rgb(68, 64, 64);
    }

    .precios {
        color: white;
    }

    .section__recetas {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "banner     nav"
        "titulo     titulo"
        "rec1       rec2"
        "rec3       rec4"
        "footer     footer";
     }

    .art__r{
        color: black;
    } 
    .tit__art {
        color: black; 
        font-size: 300%;
    } 
    .p__rec{
            color: black;
            font-size: 150%;
    }
    .li__r{
        font-size: 150%;
    }

    .section__nosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "banner nav"
        "titulo titulo"
        "nos1   nos2"
        "footer footer";
    }
    .art__nos{
        flex-direction: column;
        justify-content: space-around;
        
    }
    .div__n{
       
        color: black;
        
    }
    .img__n{
        
        width: 70%;
        max-width: 90%;
        margin: auto;
      
    }
    .section__contacto{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "banner nav"
        "titulo titulo"
        "form   form"
        "footer footer";

    }
    .sec__form{
        color: black;
    }

}




